.series-page {
	width: 100%;
}

.series-page > h1 {
	margin-bottom: 3.7rem;
}

.series-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
	gap: 1.5rem;
	margin-top: 0;
}

#pagination {
	margin-top: 2rem;
}

@media (max-width: 768px) {
	.series-grid {
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		gap: 1rem;
	}
}
